{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>


    <form class="mx-3" action="{% url 'display_category' %}" method="POST">
        {%csrf_token%}

        <label for="category">Choose a Category</label>
        <select name="category" id="category">
            {% for cat in categories %}
                <option value="{{cat}}">{{cat}}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-warning">Select</button>
    </form>


    <div class="row">
        {% for listing in listings %}

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{listing.image_url}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{listing.title}}</h5>
                <p class="card-text">{{listing.description}}</p>
                <a href="{% url 'listing' id=listing.id  %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}